<h1>Оформления заказа</h1>
<div class="depot_form">
  <fieldset>
    <legend>Пожалуйста, введите свои данные</legend>
    <%= render 'form' %>
  </fieldset>
</div>

<%= link_to 'Back', orders_path %>
