<body>
  <div class="row" id="contact_text">
    <div class="col-sm-4">
      <strong>
        <span>ГРАФИК РАБОТЫ:</span>
      </strong>
      <p>
        <span>ПН-ПТ: 9:00-17:00</span>
      </p>
      <p>
        СБ-ВС:
        <span>выходной</span>
      </p>
    </div>
    <div class="col-sm-4">
      <table>
        <tbody>
          <tr>
            <td><img src="<%= asset_path( '3Киевстар_-_иконка.jpg' ) %>" width="50" height="40" alt=""></td>
            <td>
              <div>
                <span>+38 (098) 000-00-00</span>
              </div>
            </td>
          </tr>
          <tr>
            <td><img src="<%= asset_path( '3Скайп_-_иконка.jpg' ) %>" width="50" height="40" alt=""></td>
            <td>
              <div>
                <span>shoppodranok</span>
              </div>
            </td>
          </tr>
          <tr>
            <td><img src="<%= asset_path( '3Почта_-_иконка_3.jpg' ) %>" width="50" height="40" alt=""></td>
            <td>
              <div>
                <span>shoppodranok@gmail.com</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-2">
      <a class="btn btn-warning" href="http://localhost:3000/feedback" role="button">Обратная связь</a>
      </table>
    </div>
  </div>
</body>
