body{
  height: 2000px;
  margin: 0px;
}

.submenu {
  border: 0.5px solid #AAAEB4;
  border-style:solid; border-top-width: 0px;
  width: 170px;
  text-align: center;
  padding: 10px;
}

#logo_end_links {

}

#search_end_basket {
  margin-left: 10px;
  margin-right: 10px;
}

#navigation {
  margin-left: 25px;
  margin-right: 25px;
}

.category_end_yield {
  margin-left: 25px;
  margin-right: 25px;
}

#productsindex {
  border: 0.5px solid #AAAEB4;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

#category {
  border: 0.5px solid #AAAEB4;
  text-align: center;
  margin: 5px;
}

.modal-content {
  position: fixed;
  top: 50px;
  left: 400px;
  width: 600px;
  padding: 10px;
}
