<% if line_item == @current_item %>
  <tr id="current_item">
<% else %>
<tr>
<% end %>
  <td>Названия товара: <b><%= line_item.product.name %></b></td>
  <td>Количество: <b><%= line_item.quantity %>&times;</b></td>
  <td class="item_price">Цена товара: <b><%= number_to_currency(line_item.total_price) %></b></td>
</tr>
